.header-banner {
    width: 100%;
    background-color: #ffdd57; /* Bright yellow */
    padding: 50px 0;
    color: #34495e;
    text-align: center;
    border-bottom: 5px solid #f39c12;
  }
  
  .banner-title {
    font-size: 50px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  
  .banner-subtitle {
    font-size: 24px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  